div {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.881);
}

.title {
    width: 30%;

}

.intro {

    justify-content: center;

}

.about {
    text-align: justify;
    text-justify: inter-word;
}

.col {
    text-align: center;
    border-bottom: 2px solid rgb(10, 134, 243);

}

a:link {
    text-decoration: none !important;
}

.p_img {
    width: 80%;
    border: 0.5px solid;
    border-radius: 5%;
}

.transition-fade{
    opacity: 1;
    transition: 500ms;
    transform: translateX(0);
    transform-origin: left;
}

html.is-animating .transition-fade {
    opacity: 0;
    transform: translateX(100%);
}

html.is-leaving .transition-fade {
    opacity: 0;
    transform: translate(0);
}

footer {
    height: 10rem;
}

@media screen and (max-width: 675px) {
    .ctr {
        text-align: center;
    }
}